
@import url('https://fonts.googleapis.com/css2?family=Scope+One&display=swap');

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


body {
    font-size: 100%;
    background: #B59E9E;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cabeçalho { 
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around;
padding: 50px;
}

.imagem-de-perfil{height: 72px;}

.navegador{
    display: flex;
    gap: 32px;
    
}

.cabeçalho-menu-item{

    font-family: 'Scope One', serif; 
    color: #F9F7FB ;
    font-size: 36px;
    font-weight: 800;
    padding-left: 150px;
}

.Corpo-do-conteudo{
    margin-bottom: 48px;
border-top: 1px solid #F9F7FB ;
padding: 2px;
display: flex;
flex-wrap: wrap;
}


.separadores1{ 
    position: absolute;
    flex-wrap: wrap;
    width: 903px;
    height: 684.91px;
    left: 460px;
    top: 420px;}

.separadores2 { 
    position: absolute;
    width: 792px;
    height: 201px;
    left: 519px;
    top: 568px;}

.separadores3{
     position: absolute;
     width: 792px;
     height: 201px;
     left: 525px;
     top: 810px;}
        

    .conteudo-escrito1{
        position: absolute;
        width: 739px;
        height: 100px;
        left: 580px;
        top: 611px;
        
        font-family: Scope One;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 50px;
        display: flex;
        align-items: center;
        text-align: center;
        
    }

    .conteudo-escrito2{
        position: absolute;
        width: 739px;
        height: 150px;
        left: 537px;
        top: 827px;
        

        font-family: Scope One;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 50px;
        display: flex;
        align-items: center;
        text-align: center;

    }
